@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600");

$light_blue: #3f95e6;
$dark_blue: #25598a;
$medium_grey: #e5e5e5;

// General
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: $light_blue;
  text-decoration: none !important;
}

a:visited {
  color: $light_blue;
  text-decoration: none;
}

a:hover {
  color: $light_blue;
  text-decoration: none;
}

a:active {
  color: $dark_blue;
  text-decoration: none;
}

// Foundation style overrides
.dropdown-pane.is-open {
  width: 115px !important;
}

.button {
  &:focus {
    outline: 0;
  }
}

// Force scrollbar to be visible
.wikiBox {
  &::-webkit-scrollbar {
    -webkit-appearance: none;

    &:vertical {
      width: 11px;
    }
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid $medium_grey;
    background-color: #666;
  }

  &::-webkit-scrollbar-track {
    background-color: $medium_grey;
    border-radius: 8px;
  }
}
